*{
    margin: 0;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(172, 173, 189);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
header h1{
    margin-left: 90px;
}
nav{
    margin-right: 70px;
    padding-right: 20px;
}
nav a{
    margin-right: 20px;
    font-size: 1.5rem;
}
#acceuil{
    padding: 280px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    
}

#acceuil{
    padding: 100px;
    display: flex;
    background-color: rgba(0, 0, 0, 1);
    justify-content: center;
    vertical-align: middle;
}
#acceuil h1{
    color: white;
}

section h1{
    text-align: center;
    text-transform: uppercase; 
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
}
#videoSection section div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#videoSection{
    margin-bottom: 20px;
}

footer{
    background-color: rgb(0, 0, 0,1);
    padding: 10px;
    text-align: center;
}
footer p{
    color: white;
}